body { text-align: center;
      width: 80%;}
img { width: 100%;
    vertical-align: middle;

}
.square{
    width:100px;
    height:100px;
    border: 5px solid black;
    border-collapse: collapse;
    background-color: purple;
}

#board {margin: auto;
        /*display: none;}*/
}

.winningSquare {
  border: 10px solid red;
}
table {
  margin:auto;
  border: 1px solid black;
  border-collapse: collapse;
}

#winningHeading {

  padding: 20px 0;
  background-color: orange;
  color: black;
  font-size: 3em;
  border: none;
  width: 60%;
  margin: auto;
}
#winBox{visibility: hidden;}
.reset {
  border-radius: 30%;
  padding: 20px 0;
  background-color: black;
  color: white;
  font-size: 3em;
  border: none;
  width: 60%;
  margin: 10px 0;
}
