body { text-align: center;
      width: 80%;}

.square{
    width:100px;
    height:100px;
    border: 1px solid black;
    border-collapse: collapse;
}

#board {margin: auto;}
table {
  margin:auto;
  border: 1px solid black;
  border-collapse: collapse;
}
