img { width: 100%;
    vertical-align: middle;

}
.square{
    width:8rem;
    height:8rem;
    border: 10px solid lightgrey;
    border-collapse: collapse;
    background-color: purple;
}


.winningSquare {
  border: 10px solid red;
}
table {
  margin:auto;
  border: 1px solid black;
  border-collapse: collapse;
}

#winningHeading {

  padding: 20px 0;
  background-color: orange;
  color: black;
  font-size: 3em;
  border: none;
  width: 60%;
  margin: auto;
}
#winBox{visibility: hidden;}
.reset {
  color: white;
  font-size: 4rem;
  padding: 10em;
}
